<% comments.each do |comment| %>
  <div class="card">
    <div class="card-content">
      <strong><%= comment.name %></strong>
      <%= simple_format comment.content %>
    </div>
  </div>
<% end %>
