<header class="block">
  <div class="tabs">
    <ul>
      <li><%= link_to '日本語', root_path(locale: 'ja') %></li>
      <li><%= link_to 'English', root_path(locale: 'en') %></li>
    </ul>
  </div>
</header>
